{%  extends "index.html" %}
{% load static%}

{% block content %}

<br><br><br>


<section class="saas_banner_area d-flex align-items-center">
    <img class="saas_shap" src="{% static 'alphacs/saas/img/home6/shape-1.png' %}" alt="">
    <img class="saas_shap" src="{% static 'alphacs/saas/img/home6/shape2.png' %}" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="saas_banner_content text-center">
                    <h2 class="f_700 f_size_40 w_color mb-0 wow fadeInUp" data-wow-delay="0.3s">Cloud Services Managment & Handling</h2>
                    <p class="w_color f_400 f_size_18 l_height30 mt_30 wow fadeInUp" data-wow-delay="0.4s">We Provide All Services Related To Cloud</p>
    
                </div>
                <div class="dasboard_img mt_60 wow fadeInUp" data-wow-delay="0.7s">
                    <img class="img-fluid" src="{% static 'alphacs/images/alphaimg/cloud.png' %}" style="max-width: 100%; 
                    max-height: 100%; display:block; margin:auto;" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="saas_featured_area sec_pad dk_bg_one">
    <div class="square_box box_one"></div>
    <div class="square_box box_two"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="saas_featured_content pr_70 mt_60">
                    <h2 class="f_600 f_p f_size_30 w_color l_height40 mb-30 wow fadeInUp" data-wow-delay="0.3s">Cloud Servers Deployement & Managment</h2>
                    <p class="f_400 f_size_15 l_height_28 d_p_color mb_50 wow fadeInUp" data-wow-delay="0.4s">We Deals With All Types Of Cloud Services Managment & Handling.</p>
                </div>
            </div>
            <div class="col-lg-7 saas_featured_info">
                <div class="row mb_30">
                    <div class="col-lg-6 col-md-6">
                        <div class="saas_featured_item s_featured_one wow fadeInUp" data-wow-delay="0.3s">
                            <h6 class="mt_30 mb_20">Linux & Windows Server Handling</h6>
                            <p class="mb-0">We Provide Service For Cloud Instance Complete Managment & Handling.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="saas_featured_item s_featured_two wow fadeInUp" data-wow-delay="0.5s">
                            <h6 class="mt_30 mb_20">Wordpress Server Deployement</h6>
                            <p class="mb-0">We Provide Service For Deployement & Managment Of Wordpress Server.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="saas_featured_item s_featured_three wow fadeInUp" data-wow-delay="0.7s">
                            <h6 class="mt_30 mb_20">Any Type Of Web App Deployement On Cloud</h6>
                            <p class="mb-0">We Provide Service For Deploying Any Type WebApp Build On Any Platform On Cloud.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="saas_featured_item s_featured_four wow fadeInUp" data-wow-delay="0.9s">
                            <h6 class="mt_30 mb_20">Complete Cloud Services Managment</h6>
                            <p class="mb-0">We Provide Service For Complete Managment Of Your Cloud Services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="saas_featured_area sec_pad dk_bg_one">
    <div class="square_box box_three"></div>
    <div class="square_box box_four"></div>
    <div class="container">
        <div class="row saas_featured_info">
            <div class="col-lg-6">
                <div class="f_img_one img_border wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="{% static 'alphacs/images/alphaimg/cloud1.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center pl_100">
                <div class="saas_featured_content wow fadeInRight" data-wow-delay="0.4s">
                    <h2 class="f_size_30 f_600 f_p w_color l_height40 mb_20">Want To Deploy Server On Cloud ?<br><br>Get Free Consultancy From Our Experts</h2>
                    <p class="d_p_color f_400 f_size_15 l_height28">As Servers On Cloud Provides Computation With Ease & Easily Accessible at Global. We Provide Best Advice For Larger & Scalable Server Deployement With 99% Uptime & With Best Speed Accessibility.</p>
                </div>
            </div>
        </div>
        <div class="row saas_featured_info flex-row-reverse">

            <div class="col-lg-6 d-flex align-items-center pr_70">
                <div class="saas_featured_content wow fadeInLeft" data-wow-delay="0.3s">
                    <h2 class="f_size_30 f_600 f_p w_color l_height40 mb_20">Web App Deployement On Cloud</h2>
                    <p class="d_p_color f_400 f_size_15 l_height28">Deploying Your Web App On Cloud Increases Computation Speed and Provide Smooth Browsing Response To Users. It is Easy To Manage, Safe and Secure. </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="f_img_two img_border wow fadeInRight" data-wow-delay="0.4s">
                    <img class="img-fluid" src="{% static 'alphacs/images/alphaimg/cloud2.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
