{%  extends "index.html" %}
{% load static%}

{% block content %}

<br><br><br>

<section class="slider_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex align-items-center">
                <div class="slider_content">
                    <h2 class="f_p f_700 f_size_40 l_height60">CRM Software For Your Business</h2>
                    <p class="f_400 l_height28 mt_30">Our CRM software enhances the customer relationship <br> through managing customer interaction, <br>tracking leads, and streamlining processes.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mobile_img">
                    <div class="img"><img class="women_img leaf wow fadeInDown" data-wow-delay="0.4s" src="{% static 'alphacs/images/alphaimg/featured_img.png' %}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <img class="leaf l_left" src="{% static 'alphacs/saas/img/home2/shape_02.png' %}" alt="">
    <img class="leaf l_right" src="{% static 'alphacs/saas/img/home2/shape_03.png' %}" alt="">
    <img class="middle_shape" src="{% static 'alphacs/saas/img/home2/shape_01.png' %}" alt="">
    <img class="bottom_shoape" src="{% static 'alphacs/saas/img/home2/shape.png' %}" alt="">
</section>



<section class="erp_service_area sec_pad">
    <div class="container">
        <div class="hosting_title erp_title text-center">
            <h2>Customer Relationship Managment</h2>
        </div>
        <div class="row " style="text-align: center; margin-left: 20px;">
            <div class="col-lg-4 col-sm-6">
                <div class="erp_service_item pr_70">
                    <img src="{% static 'alphacs/images/alphaimg/contactmg.svg' %}" height="120px" width="120px" alt="">
                    <h3 class="h_head">Contact Management</h3>
                    <p>Your sales team track all the information about Client.</p>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="erp_service_item pr_70 pl_10">
                    <img src="{% static 'alphacs/images/alphaimg/lead.svg' %}" height="120px" width="120px" alt="">
                    <h3 class="h_head">Lead Management</h3>
                    <p>Lead helps you track and manage prospective customers . </p>
                </div>
            </div>
           
            <div class="col-lg-4 col-sm-6">
                <div class="erp_service_item pr_70 pl_10">
                    <img src="{% static 'alphacs/images/alphaimg/lead.svg' %}" height="120px" width="120px" alt="">
                    <h3 class="h_head">Reduce lead response time</h3>
                    <p>With CRM You Can Get In Touch With Your Clients. </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="erp_service_item pr_70 pl_10">
                    <img src="{% static 'alphacs/images/alphaimg/campaign.svg' %}" height="120px" width="120px" alt="">
                    <h3 class="h_head">Campaign Management</h3>
                    <p>Analyse your campaign data and evaluate the outcome based on Leads. </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" >
                <div class="erp_service_item pr_70 pl_10">
                    <img src="{% static 'alphacs/images/alphaimg/leading.svg' %}" height="120px" width="120px" alt="">
                   <h3 class="h_head">Keep your leads engaged</h3>
                    <p>CRM Send nurturing campaigns based on their interest/activity. </p>
                </div>
            </div>
           
            <div class="col-lg-4 col-sm-6">
                <div class="erp_service_item pr_70 pl_10">
                    <img src="{% static 'alphacs/images/alphaimg/report.svg' %}" height="120px" width="120px" alt="">
                   <h3 class="h_head">Reports & Analytics</h3>
                    <p>Get Detailed Report & Analytics of Your Leads. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="stratup_service_area sec_pad bg_color">
    <div class="container">
        <div class="sec_title mb_70 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <h2 class="f_p f_size_30 l_height40 f_600 t_color text-center">User - friendly experience for <br> your attendies</h2>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="stratup_service_img">
                    <div class="shape"></div>
                    <img class="laptop_img" src="{% static 'alphacs/images/alphaimg/crmmarketing.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                <div class="stratup_service_info">
                    <div class="startup_service_item">
                        <br><br>
                        <h3>Your events</h3>
                        <p>Every event at your fingertip</p>
                    </div>
                    <div class="startup_service_item">
                        
                        <h3>Notification</h3>
                        <p>Get Notification with CRM.</p>
                    </div>    <div class="startup_service_item">
                        
                        <h3>Client Interaction</h3>
                        <p> Interact With Your Clients.</p>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="progress_bar_area">
    <div class="container">
        <div class="sec_title mb_70 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <h2 class="f_p f_size_30 l_height40 f_600 t_color text-center">Measure and increase <br> your reach</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 progress_item">
                <div class="circle" data-value="0.87" data-fill="{&quot;color&quot;: &quot;#aa6ffa&quot;}" data-trackcolor="">
                    <div class="number"><span class="counter">87</span>%</div>
                </div>
                <h4>Innovations</h4>
            </div>
            <div class="col-lg-3 col-md-4 progress_item">
                <div class="circle" data-value="0.82" data-fill="{&quot;color&quot;: &quot;#f3af4e&quot;}" data-trackcolor="">
                    <div class="number"><span class="counter">82</span>%</div>
                </div>
                <h4>Great Tests</h4>
            </div>
            <div class="col-lg-3 col-md-4 progress_item">
                <div class="circle" data-value="0.92" data-fill="{&quot;color&quot;: &quot;#6fadfa&quot;}" data-trackcolor="">
                    <div class="number"><span class="counter">92</span>%</div>
                </div>
                <h4>Big Projects</h4>
            </div>
            <div class="col-lg-3 col-md-4 progress_item">
                <div class="circle" data-value="0.83" data-fill="{&quot;color&quot;: &quot;#fa6fd1&quot;}" data-trackcolor="">
                    <div class="number"><span class="counter">83</span>%</div>
                </div>
                <h4>Action Plans</h4>
            </div>
        </div>
        <div class="br_bottom"></div>
    </div>
</section> -->



{% endblock %}
