{%  extends "index.html" %}
{% load static%}

{% block content %}

<br><br><br>
<section class="payment_banner_area">
    <div class="shape one"></div>
    <div class="shape two"></div>
    <div class="container">
        <div class="payment_banner_content wow fadeInLeft" data-wow-delay="0.4s"style="margin-top : -150px"> 
            <h1 class="f_p f_700 f_size_50 w_color">Mobile App Development</h1>
            <p class="w_color f_p f_size_18">We intend to deliver as our customer desire. As an established mobile app development company, We Provide UI/UX employing the<br> latest technology and versatile functions.</p>
        </div>
    </div>
    <!-- <div class="animation_img_two wow fadeInRight" data-wow-delay="0.5s">
        <img src="images/alphaimg/appbanner.png" alt="">
    </div> -->
    <img class="svg_intro_bottom" src="{% static 'alphacs/saas/img/home9/shape.png' %}" alt="">
</section>

<section class="payment_priceing_area">
    <div class="container">
        <div class="sec_title mb_70 wow fadeInUp text-center" data-wow-delay="0.4s">
            <h2 class="f_p f_size_30 l_height40 f_700 t_color">Mobile App Development</h2>
        </div>
        <div class="payment_price_info">
            <div class="payment_price_item col-md-4 col-sm-12">
                <img src="{% static 'alphacs/images/alphaimg/ios.svg' %}" height="120px" width="120px" style="padding-bottom: 30px;" alt="">
                <h2>IOS APP</h2>
                <br>
                <p>Native IOS Application Development.</p>
            </div>
            <div class="payment_price_item center col-md-4 col-sm-12">
                <img src="{% static 'alphacs/images/alphaimg/androidsmall.svg' %}" height="120px" width="120px" style="padding-bottom: 30px;" alt="">
                <h2>Android App</h2>
                <br>
                <p>Native Android Application Development With Security.</p>
            </div>
            <div class="payment_price_item col-md-4 col-sm-12">
                <img src="{% static 'alphacs/images/alphaimg/cross.svg' %}" height="120px" width="120px" style="padding-bottom: 30px;" alt="">
                <h2>Hybrid</h2>
                    <br>
                <p>Hybrid App Development Supportable On Web & Mobile.</p>
            </div>
        </div>
    </div>
</section>

      <section class="hosting_service_area sec_pad">
        <div class="container">
            <div class="heading hosting_title text-center">
                <h4 class="h1our1 heading-titleour1 wow fadeInUp" data-wow-delay="0.3s">Our Mobile Development Solutions</h4>
                <div class="heading-line">
                    <span class="short-line"></span>
                    <span class="long-line"></span>
                    
                </div>
            </div>
            <div class="row seo_service_info">
                <div class="col-lg-4 col-md-6" align="center">
                    <div class="seo_service_item">
                        <img src="{% static 'alphacs/img/elearn.svg' %}"  height="120px" width="120px" alt="">
                            <h4>E-Learning App</h4>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" align="center">
                    <div class="seo_service_item">
                        <img src="{% static 'alphacs/img/ecommerce.svg' %}"  height="120px" width="120px" alt="">
                        
                            <h4>E-Commerce App</h4>
                        <br>
                    </div>
                </div>  
                <div class="col-lg-4 col-md-6" align="center">
                    <div class="seo_service_item">
                        <img src="{% static 'alphacs/img/rech.svg' %}"  height="120px" width="120px" alt="">
                        
                            <h4>Online Recharge App</h4>
                        <br>
                    </div>
                </div>   
                <div class="col-lg-4 col-md-6" align="center">
                    <div class="seo_service_item">
                        <img src="{% static 'alphacs/img/food.svg' %}"  height="120px" width="120px" alt="">
                            <h4>Food Delivery App</h4>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" align="center">
                    <div class="seo_service_item">
                        <img src="{% static 'alphacs/img/gps.svg' %}"  height="120px" width="120px" alt="">
                            <h4>GPS Tracking App</h4>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" align="center">
                    <div class="seo_service_item">
                        <img src="{% static 'alphacs/img/on-demand.svg' %}"  height="120px" width="120px" alt="">
                            <h4>On Demand Solution</h4>
                        <br>
                    </div>
                </div>
             
        </div>
    </section>

<!-- 
<section class="app_screenshot_area sec_pad">
    <div class="container custom_container p0">
        <div class="sec_title text-center mb_70">
            <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20 wow fadeInUp" data-wow-delay="0.2s">App Screenshots</h2>
            <p class="f_400 f_size_16 wow fadeInUp" data-wow-delay="0.4s">Some Of Best Screenshots Of Our App Development</p>
        </div>
        <div class="app_screen_info">
            <div class="app_screenshot_slider owl-carousel">
                <div class="item">
                    <div class="screenshot_img">
                        <img src="{% static 'alphacs/img/screenshot1.png' %}" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <img src="{% static 'alphacs/img/screenshot2.png' %}" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <img src="{% static 'alphacs/img/screenshot3.png' %}" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <img src="{% static 'alphacs/img/screenshot4.png' %}" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                      <img src="{% static 'alphacs/img/screenshot5.png' %}" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                       <img src="{% static 'alphacs/img/screenshot1.png' %}" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <img src="{% static 'alphacs/img/screenshot2.png' %}" alt="">
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section> -->


<section class="agency_featured_area bg_color" style="padding-bottom: 50px;">
    <div class="container">
        <h2 class="f_size_30 f_600 t_color3 l_height40 text-center wow fadeInUp" data-wow-delay="0.3s">Development Process</h2>
        <div class="features_info">
            <img class="dot_img" src="{% static 'alphacs/saas/img/home4/dot.png' %}" alt="">
            <div class="row agency_featured_item flex-row-reverse">
                <div class="col-lg-6">
                    <div class="agency_featured_content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <img class="number" src="{% static 'alphacs/saas/img/home4/icon01.png' %}" alt="">
                        <h3>Requirement & Prototype Design</h3>
                        <p>Requirement Gathering is the first and very important part of our mobile app development process.<br> We build prototypes, making sure that the app’s look and feel is native to the platform and delivers a positive user experience.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="agency_featured_img text-right wow fadeInRight" data-wow-delay="0.4s">
                        <img src="{% static 'alphacs/img/proc1.svg' %}" alt="">
                    </div>
                </div>
                
            </div>
            <div class="row agency_featured_item agency_featured_item_two">
                <div class="col-lg-6">
                    <div class="agency_featured_img text-right wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="{% static 'alphacs/img/proc2.svg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="agency_featured_content pl_100 wow fadeInRight" data-wow-delay="0.5s" style="margin-left: 16px;">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <img class="number" src="{% static 'alphacs/saas/img/home4/icon02.png' %}" alt="">
                        <h3>UI design & Backend Development</h3>
                        <p>User interfaces we design are convenient, simple, and comprehensible.<br> Our backend developers build a secure backend app. This backend app lets your frontend app’s API interface with the database.</p>
                    </div>
                </div>
            </div>
            <div class="row agency_featured_item flex-row-reverse">
                <div class="col-lg-6">
                    <div class="agency_featured_content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <img class="number" src="{% static 'alphacs/saas/img/home4/icon3.png' %}" alt="">
                        <h3>Support & Maintenance</h3>
                        <p>We provide support and maintenance packages after the product release. We handle updates and improvements, and adding new features.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="agency_featured_img text-right wow fadeInRight" data-wow-delay="0.4s">
                        <img src="{% static 'alphacs/img/proc3.svg' %}" alt="">
                    </div>
                </div>
                
            </div>
            <div class="dot middle_dot" style="margin-left: 15px;"><span class="dot1"></span><span class="dot2"></span></div>
        </div>
    </div>
</section>



<section class="chat_area">
    <img class="h_leaf one wow fadeInUp" data-wow-delay="0.4s" src="{% static 'alphacs/images/alphaimg/con_ban.png' %}" alt="">
    <div class="container">
        <div class="sec_title text-center mb_50 wow fadeInUp" style="margin-bottom: 100px;" data-wow-delay="0.3s">
            
            <h5><strong> Get Free Consultancy From Our Experties </strong></h5>
            <br>
            <a href="{% url 'contact-us' %}" class="pos_btn">Contact Us</a>
        </div>
        
    </div>
</section>


{% endblock %}
