{%  extends "index.html" %}
{% load static%}

{% block content %}
<style>
    @media only screen and (max-width: 738px) {
    #serivecontent{
        padding-left: 20%;
    }

  }
  
</style>

<br><br><br>
<section class="payment_banner_area_two">
    <div class="container">
        <div class="payment_content_two text-center">
            <h2><span>Web Development</span></h2>
            <h6 style="color:white;">Automate Your Manual Work With Web Development </p>
            <div class="payment_img">
                <img src="{% static 'alphacs/saas/img/new/laptop_two.png' %}" alt="">
                
            
            </div>
        </div>
        
    </div>
</section>

  <section class="hosting_service_area sec_pad">
    <div class="container">
        <div class="heading hosting_title text-center">
            <h4 class="h1our1 heading-titleour1 wow fadeInUp" data-wow-delay="0.3s">Features We Offer</h4>
            <div class="heading-line">
                <span class="short-line"></span>
                <span class="long-line"></span>
                
            </div>
        </div>
        <div class="row seo_service_info">
            <div class="col-lg-4 col-md-6" align="center">
                <div class="seo_service_item">
                    <img src="{% static 'alphacs/img/responsive.svg' %}"  height="120px" width="120px" alt="">
                        <h4>Responsive Websites</h4>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" align="center">
                <div class="seo_service_item">
                    <img src="{% static 'alphacs/img/shield.svg' %}"  height="120px" width="120px" alt="">
                    
                        <h4>Extreme Security</h4>
                    <br>
                </div>
            </div>   
            <div class="col-lg-4 col-md-6" align="center">
                <div class="seo_service_item">
                    <img src="{% static 'alphacs/img/ux.svg' %}"  height="120px" width="120px" alt="">
                        <h4>Modern Design</h4>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" align="center">
                <div class="seo_service_item">
                    <img src="{% static 'alphacs/img/performance.svg' %}"  height="120px" width="120px" alt="">
                        <h4>Optimized Websites</h4>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" align="center">
                <div class="seo_service_item">
                    <img src="{% static 'alphacs/img/resize.svg' %}"  height="120px" width="120px" alt="">
                        <h4>Future Add Ons</h4>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" align="center">
                <div class="seo_service_item">
                    <img src="{% static 'alphacs/img/money.svg' %}"  height="120px" width="120px" alt="">
                        <h4>Better Services At Low Cost</h4>
                    <br>
                </div>
            </div>
    </div>
</section>


<div class="heading" align="center" >

<h4 class="h1our1 heading-titleour1 wow fadeInUp" data-wow-delay="0.3s">Web Services</h4>
<div class="heading-line">
    <span class="short-line"></span>
    <span class="long-line"></span>
    
</div>
</div>

<div class="s_features_section">
    <div class="container custom_container">
        <div class="row s_features_item">
            
            <div class="col-lg-6 col-md-6">
                <div class="s_features_img ml_50 wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="{% static 'alphacs/img/web1.svg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-center">
                <div class="s_features_content pl_120 " id="serivecontent">
                    <img class="wow fadeInRight" src="{% static 'alphacs/img/edu.svg' %}" height="50px" width="50px" alt="">
                    
                    <h2 class="f_p f_size_30 f_700 t_color l_height45 wow fadeInRight" data-wow-delay="0.4s">Schools & Institutions</h2>
                    <p class="f_size_18 l_height30 f_400 wow fadeInRight" data-wow-delay="0.5s">We Provide All Services Of Web Development For Schools & Institutions.</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Modern UI/UX Websites Development</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Web Services Panel For School Managment</p>
                </div>
            </div>
        </div>
        <div class="row s_features_item s_features_item_two flex-row-reverse mt_100">
            <div class="col-lg-6 col-md-6 d-flex align-items-center">
                <div class="s_features_content pr_120" id="serivecontent">
                    <img class="wow fadeInRight" src="{% static 'alphacs/img/edu1.svg' %}" height="50px" width="50px" alt="">
                    <h2 class="f_p f_size_30 f_700 t_color l_height45 wow fadeInLeft" data-wow-delay="0.4s">Online Services For Coaching & Institutes</h2>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">We Provide Complete Solution For Online Educations For Coachings & Institutes.</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Quality Live Class Services</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Quality Video On Demand at Lowest Prices</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Test Series Solution</p>


                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="s_features_img ml_25 wow fadeInRight" data-wow-delay="0.3s">
                    <img src="{% static 'alphacs/img/web2.svg' %}" alt="">
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row s_features_item">
            <div class="col-lg-6 col-md-6">
                <div class="s_features_img ml_50 wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="{% static 'alphacs/img/web3.svg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-center">
                <div class="s_features_content pl_120" id="serivecontent">
                    <img class="wow fadeInRight" src="{% static 'alphacs/img/edu2.svg' %}" height="50px" width="50px" alt="">

                    <h2 class="f_p f_size_30 f_700 t_color l_height45 wow fadeInRight" data-wow-delay="0.4s">Hospital & HealthCare</h2>
                    <p class="f_size_18 l_height30 f_400 wow fadeInRight" data-wow-delay="0.5s">Web Development Services For Hospital & HealthCare.</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Quality Website For Hostpital</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Complete Hospital Managment Services</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Complete Hospital Managment Services</p>

                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row s_features_item s_features_item_two flex-row-reverse mt_100">
        
            <div class="col-lg-6 col-md-6 d-flex align-items-center">
                <div class="s_features_content pl_120" id="serivecontent">
                    <img class="wow fadeInRight" src="{% static 'alphacs/img/edu3.svg' %}" height="50px" width="50px" alt="">

                    <h2 class="f_p f_size_30 f_700 t_color l_height45 wow fadeInRight" data-wow-delay="0.4s">Any Web Development Services</h2>
                    <p class="f_size_18 l_height30 f_400 wow fadeInRight" data-wow-delay="0.5s">We Provide Every Type Of Web Development Services.</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;API Based Web Services</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Modern UI/UX Websites Development</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Web Panels For Work Automations</p>
                    <p class="f_size_18 l_height30 f_400 wow fadeInLeft" data-wow-delay="0.5s">&#9679; &ensp;Any Web Services</p>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="s_features_img ml_50 wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="{% static 'alphacs/img/web4.svg' %}" alt="">
                </div>
            </div>
        </div>
    
    </div>
</div>

<br><br><br>
<section class="chat_area">
    <img class="h_leaf one wow fadeInUp" data-wow-delay="0.4s" src="{% static 'alphacs/images/alphaimg/con_ban.png' %}" alt="">
    <div class="container">
        <div class="sec_title text-center mb_50 wow fadeInUp" style="margin-bottom: 100px;" data-wow-delay="0.3s">
            
            <h5><strong> Get Free Consultancy From Our Experties </strong></h5>
            <br>
            <a href="{% url 'contact-us' %}" class="pos_btn">Contact Us</a>
        </div>
        
    </div>
</section>


{% endblock %}
