{%  extends "blogbase.html" %}
{% load static%}

{% block content %}
<br><br><br><br><br>
<style>
    
 
</style>
<div class="col-10 mx-auto">
    <div class="mt-5">

        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 ">
                
                <section class="mx-md-5 dark-grey-text mt-5 py-5">

                    <!-- Grid row -->
                  <div class="row">
              
                    <!-- Grid column -->
                    <div class="col-md-12">
              
                      <!-- Card -->
                      <div class="card card-cascade wider reverse">
              
                        <!-- Card image -->
                        <div class="view view-cascade">
                          <img class="card-img-top" src="{{blog.BlogImage.url}}" style="max-width: 100%;" alt="Sample image">
                          <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
              
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
              
                          <!-- Title -->
                          <h3 class="font-weight-bold">{{blog.title}}</h3>
                          

                          <!-- Data -->
                          <p>Written by <a><strong>Alphacs</strong></a>, {{blog.createdDate}}</p>
                          <p>
                            {% for category in blog.category.all %}
                            {% for color in colors %}

                            {% if forloop.counter == forloop.parentloop.counter %}
                            
                            <span class="badge badge-{{color}}">{{category}}</span>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                          </p>
                          <p><strong class="text-primary">Spreed the word:</strong></p>
                        <!-- Social shares -->
                          <div class="social-counters mb-4">
                            <!-- Facebook -->
                            <a class="btn btn-blue">
                              <i class="fab fa-facebook-f pr-2"></i>
                              <span class="clearfix d-none d-md-inline-block">Facebook</span>
                            </a>
                            
                            <!-- Twitter -->
                            <a class="btn btn-info">
                              <i class="fab fa-twitter pr-2"></i>
                              <span class="clearfix d-none d-md-inline-block">Twitter</span>
                            </a>
                            
                            <!-- Google+ -->
                            <a class="btn btn-red">
                              <i class="fab fa-google-plus-g pr-2"></i>
                              <span class="clearfix d-none d-md-inline-block">Google+</span>
                            </a>
                            
                            <!-- Comments -->
                            <a class="btn btn-default">
                              <i class="far fa-comments pr-2"></i>
                              <span class="clearfix d-none d-md-inline-block">Comments<span class="badge badge-white p-2 mx-2">{{totalcomments}}</span></span>
                            </a>
                            
                          </div>
                          <!-- Social shares -->
              
                        </div>
                        <!-- Card content -->
              
                      </div>
                      <!-- Card -->
              
                      <!-- Excerpt -->
                      <div class="card p-5 mt-5">
              
                        {{blog.content | safe}}
              
                      </div>
              
                    </div>
                    <!-- Grid column -->
              
                  </div>
                  <!-- Grid row -->
              
                  <hr class="mb-5 mt-4">

                  
                    <div class="card mb-5 mt-5 wow fadeIn mt-5 py-2">
                      <div class="card-header font-weight-bold"><i class="fa fa-tags text-warning fa-lg"></i> <span class="px-2">Tags</span> </div>
                      <div class="card-body">
                        {% for tag in blog.tags.all %}
                        <span class="badge badge-pill p-3 pink">{{tag.name}}</span>
                          
                        {% endfor %}
                      </div>
                  </div>
                            
                          
                  

                  <div class="card p-5 ">
                    <!--Section: Comments-->
          <section>

           <div class="text-center font-weight-bold"><span>{{totalcomments}}</span> comments</div>
            {% for comment in comments %}
           <div class="media d-block d-md-flex mt-4">
               
             <img class="card-img-64 d-flex mx-auto mb-3"
               src="{% static 'blog/img/commentusericon.png' %}" alt="Generic placeholder image">
             <div class="media-body text-center text-md-left ml-md-3 ml-0">
               <p class="font-weight-bold my-0">
                 {{comment.user}} : <span style="font-size:15px;">{{comment.date}}</span>
                {% if request.user == comment.user %}
                 <a href="{% url 'comment-delete' blog.slug comment.id %}" class="pull-right ml-1">
                  <i class="fas fa-trash text-danger"></i>
                </a>
                {% else %}


                <!--Modal Form For Reply -->
                <div class="modal fade" id="modal{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Reply</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form method="POST" action="{% url 'comment-reply' blog.slug request.user comment.id %}">
                            {% csrf_token %}
                            <div class="modal-body mx-3">
                              <div class="lg-form mb-5">
                                
                                <textarea class="form-control" name="reply" id="reply" rows="5"></textarea>
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Your Reply</label>
                              </div>
  
                             </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button class="btn btn-default" type="submit" >Reply</button>
                            </div>
                          </form>
                          
                        </div>
                      </div>
                </div>

                    
                <!--End Modal form-->
                {% if user.is_authenticated %}
                 <a href="" class="pull-right ml-1" data-toggle="modal" data-target="#modal{{comment.id}}">
                   <i class="fas fa-reply"></i>
                 </a>
                {% endif %}





                 {% endif %}
               </p>
               
               {{comment.comment}}
              
               {% for reply in replycomments %}
                {% if reply.previouscomment == comment %}
               <div class="media d-block d-md-flex mt-4">
                 <img class="card-img-64 d-flex mx-auto mb-3"
                   src="{% static 'blog/img/reply.png' %}" alt="Generic placeholder image">
                 <div class="media-body text-center text-md-left ml-md-3 ml-0">
                   <p class="font-weight-bold my-0">
                     {{reply.user}} : <span style="font-size:15px;">{{reply.date | timesince}}</span>
                     {% if request.user == reply.user %}
                     <a href="{% url 'reply-comment-delete' blog.slug reply.id %}" class="pull-right ml-1">
                       <i class="fas fa-trash text-danger"></i>
                     </a>
                     {% endif %}
                     
                   </p>
                   {{reply.replycomment}}
                 </div>
               </div>
               {% endif %}
               {% endfor %}
               
               

               
             </div>
             
           </div>
           {% endfor %}
           
           
         </section>
         <!--Section: Comments-->
                  </div>
                <!--Reply-->
                {% if user.is_authenticated %}
                <div class="card mb-3 wow fadeIn mt-5">
                    <div class="card-header font-weight-bold">Leave a reply</div>
                    <div class="card-body">

                        <!-- Default form reply -->
                        <form method="POST" action="{% url 'comment-save' blog.slug %}">
                            {% csrf_token %}
                            <!-- Comment -->
                            <div class="form-group">
                                <label for="replyFormComment">Your comment</label>
                                <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
                            </div>

                            <!-- Name -->
                            
                            <input type="text" id="name" name="name" value="{{request.user}}" hidden class="form-control">

                            <br>

                            <!-- Email -->
                            <label for="replyFormEmail">Your e-mail</label>
                            <input type="email" id="email" name="email" class="form-control">


                            <div class="text-center mt-4">
                                <button class="btn btn-outline-primary mx-0" type="submit">POST <i class="fas fa-arrow-right fs-9 ml-2"></i></button>
                            </div>
                        </form>
                        <!-- Default form reply -->



                    </div>
                </div>
                {% else %}
                <div class="card mb-3 wow fadeIn mt-5">
                    <div class="card-header font-weight-bold">Leave a reply</div>
                    <div class="card-body">
                        <a class="btn btn-outline-primary mx-0" href="{% url 'user-login' %}">Login To Comment<i class="fas fa-arrow-right fs-9 ml-1"></i></a>
                    </div>
                </div>
                {% endif %}
                <!--/.Reply-->
                  
          
                </section>

                
                    
                   
       
       
               
            </div>
            
            <div class="col-md-12 col-lg-3 col-sm-12">
                 <!--Grid column-->
                 <div class="mt-5 py-5 mb-2 ">
                    

                    <div class="card mb-5 pt-3 shadow-3">
                        
                        <form action="{% url 'search' %}" method="POST" class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
                            {% csrf_token %}
                            <i class="fas fa-search text-info fa-lg" aria-hidden="true"></i>
                            <input class="form-control form-control-sm ml-3 w-75" id="search_input" type="text" name="term" placeholder="Search Posts"
                              aria-label="Search">
                          </form>
                    </div>
                    




                    <!--Categories-->
                    <div class="card mb-4 wow fadeIn mb-2">
    
                      <div class="card-header">Categories</div>
  
                      <!--Card content-->
                      <div class="card-body">
  
                          <ul class="list-unstyled">
                              {% for category in categoryList %}
                              <li class="media">
                                  <div class="row">
                                      
                                      <div class="col-12">
                                          <div class="media-body px-3 ">
                                              <a href="{% url 'category-wise-blog' category %}">
                                                  <h6 class="mt-0 mb-1 font-weight-bold ">{{category | capfirst}}</h6>
                                              </a>
                                             
                                          </div>
                                      </div>
                                     
                                  </div>
                                  
                              </li>
                              {% endfor %}
                              
                          </ul>
  
                      </div>
  
                  </div>
                  <!--End Categories-->
    
                    
    
                    <!--Card-->
                    <div class="card mb-4 wow fadeIn mb-2">
    
                        <div class="card-header">Related articles</div>
    
                        <!--Card content-->
                        <div class="card-body">
    
                            <ul class="list-unstyled">
                                {% for article in recentarticle %}
                                <li class="media">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <img class="d-flex mr-3" height="250" width="200" src="{{article.BlogImage.url}}" >
                                        </div>
                                        <div class="col-md-8 col-8">
                                            <div class="media-body">
                                                <a href="{% url 'single-post' article.slug %}">
                                                    <h6 class="mt-0 mb-1 font-weight-bold">{{article.title | slice:":70"}}</h6>
                                                </a>
                                               
                                            </div>
                                        </div>
                                       
                                    </div>
                                    
                                </li>
                                {% endfor %}
                                
                            </ul>
    
                        </div>
    
                    </div>
                    <!--/.Card-->
    
                </div>
                <!--Grid column-->
            </div>
        </div>
    
       
       <div class="card p-5 my-5">


        <!--Section: Content-->
        <section class="magazine-section dark-grey-text">
      
          <!-- Section heading -->
          <h3 class="text-center font-weight-bold mb-4 pb-2 py-3 pb-5">Latest Blogs</h3>
          <!-- Section description -->
          
      
            <!-- Grid row -->
          <div class="row">
      
            
      
              
               {% for blog in latestblogs  %} 
              <!-- Small news -->
              <div class=" col-lg-6 col-md-6 single-news mb-4">
      
                <!-- Grid row -->
                <div class="row">
      
                  <!-- Grid column -->
                  <div class="col-md-3 col-sm-3 col-3">
      
                    <!--Image-->
                    <div class="view rounded z-depth-1 mb-4">
                      <img class="img-fluid" src="{{blog.BlogImage.url}}" alt="Sample image">
                      <a href="{% url 'single-post' blog.slug %}">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
      
                  </div>
                  <!-- Grid column -->
      
                  <!-- Grid column -->
                  <div class="col-md-9 col-sm-9 col-9">
      
                    <!-- Excerpt -->
                    <p class="font-weight-bold dark-grey-text">{{blog.createdDate}}</p>
                    <div class="d-flex justify-content-between">
                      <div class="col-11 text-truncate pl-0 mb-3">
                        <a href="{% url 'single-post' blog.slug %}" class="dark-grey-text">{{blog.title}}</a>
                      </div>
                      <a href="{% url 'single-post' blog.slug %}"><i class="fas fa-angle-double-right"></i></a>
                    </div>
      
                  </div>
                  <!-- Grid column -->
      
                </div>
                <!-- Grid row -->
      
              </div>
              <!-- Small news -->
              {% endfor %}
           
      
            
      
          </div>
          <!-- Grid row -->
      
        </section>
        <!--Section: Content-->
      
      
      </div>
        
      
      </div>
      
</div>


{% endblock %}
